# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [1]:
# import required libraries
import pandas as pd
import numpy as np

Next, import `Orders` from Ironhack's database into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [4]:
orders = pd.read_csv("Orders.csv", index_col = 0)

In [5]:
# Print the head of orders to overview the data:
orders

,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
...,...,...,...,...,...,...,...,...,...,...,...,...,...
541904,581587,22613,2011,12,5,12,pack of 20 spaceboy napkins,12,2011-12-09 12:50:00,0.85,12680,France,10.20
541905,581587,22899,2011,12,5,12,children's apron dolly girl,6,2011-12-09 12:50:00,2.10,12680,France,12.60
541906,581587,23254,2011,12,5,12,childrens cutlery dolly girl,4,2011-12-09 12:50:00,4.15,12680,France,16.60
541907,581587,23255,2011,12,5,12,childrens cutlery circus parade,4,2011-12-09 12:50:00,4.15,12680,France,16.60
541908,581587,22138,2011,12,5,12,baking set 9 piece retrospot,3,2011-12-09 12:50:00,4.95,12680,France,14.85

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [23]:
customer_spending.describe().T

,count,mean,std,min,25%,50%,75%,max
CustomerID,4339.0,15299.936852,1721.889758,12346.0,13812.500,15299.00,16778.50,18287.00
amount_spent,4339.0,2053.793018,8988.248381,0.0,307.245,674.45,1661.64,280206.02

In [6]:
customer_spending = orders.groupby('CustomerID')['amount_spent'].sum().reset_index()
len(customer_spending)

4339

In [104]:
orders['is_vip'] = np.where(orders.amount_spent > 1661.64, True, False)
orders['is_preferred'] = np.where((orders['amount_spent'] > 674.45) & (orders['amount_spent'] < 1661.64), True, False)

orders

,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent,is_vip,is_preferred
0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,False,False
1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,False,False
2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,False,False
3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,False,False
4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
541904,581587,22613,2011,12,5,12,pack of 20 spaceboy napkins,12,2011-12-09 12:50:00,0.85,12680,France,10.20,False,False
541905,581587,22899,2011,12,5,12,children's apron dolly girl,6,2011-12-09 12:50:00,2.10,12680,France,12.60,False,False
541906,581587,23254,2011,12,5,12,childrens cutlery dolly girl,4,2011-12-09 12:50:00,4.15,12680,France,16.60,False,False
541907,581587,23255,2011,12,5,12,childrens cutlery circus parade,4,2011-12-09 12:50:00,4.15,12680,France,16.60,False,False
541908,581587,22138,2011,12,5,12,baking set 9 piece retrospot,3,2011-12-09 12:50:00,4.95,12680,France,14.85,False,False

In [106]:
unique_vip_customers = orders[orders['is_vip'] == True]['CustomerID'].drop_duplicates()
unique_preferred_customers = orders[orders['is_preferred'] == True]['CustomerID'].drop_duplicates()


df_vip = orders[orders['CustomerID'].isin(unique_vip_customers)]
df_preferred = orders[orders['CustomerID'].isin(unique_preferred_customers)]


df_vip = df_vip.groupby('CustomerID')['amount_spent'].sum().reset_index()
df_preferred = df_preferred.groupby('CustomerID')['amount_spent'].sum().reset_index()



df_vip.reset_index(drop=True, inplace=True)
df_preferred.reset_index(drop=True, inplace=True)

df_vip = df_vip.sort_values("amount_spent", ascending=False)
df_preferred = df_preferred.sort_values("amount_spent", ascending=False)

In [122]:
df_vip

    CustomerID  amount_spent         Country
11       14646     280206.02  United Kingdom
35       18102     259657.30          France
29       17450     194550.79          France
26       16446     168472.50          France
12       14911     143825.06  United Kingdom
1        12415     124914.53  United Kingdom
10       14156     117379.63  United Kingdom
23       16029      81024.84  United Kingdom
0        12346      77183.60  United Kingdom
33       17949      58510.48          France
19       15769      56252.72  United Kingdom
13       15061      54534.14  United Kingdom
18       15749      44534.30  United Kingdom
6        12931      42055.96  United Kingdom
14       15098      39916.50  United Kingdom
22       16013      37130.60  United Kingdom
20       15838      33643.08  United Kingdom
31       17857      26879.04          France
25       16333      26626.80  United Kingdom
3        12744      21279.29  United Kingdom
24       16210      21086.30  United Kingdom
2        12536      12601.83  United Kingdom
21       16000      12393.70  United Kingdom
7        13113      12245.96  United Kingdom
16       15502      10384.93  United Kingdom
5        12798       6977.04  United Kingdom
27       16532       6748.80          France
32       17940       4106.44          France
34       18087       4055.72          France
15       15195       3861.00  United Kingdom
4        12755       3811.95  United Kingdom
17       15581       3679.97  United Kingdom
9        13868       3192.54  United Kingdom
8        13135       3096.00  United Kingdom
30       17846       2033.10          France
28       16986       1873.20          France

In [107]:
df_vip["Country"] = orders["Country"]
df_preferred["Country"] = orders["Country"]

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [103]:
vip_customers_by_country = df_vip.groupby('Country')['CustomerID'].count()
vip_customers_by_country.sort_values(ascending=False)

Country
United Kingdom    26
France            10
Name: CustomerID, dtype: int64

In [108]:
preferred_customers_by_country = df_preferred.groupby('Country')['CustomerID'].count()
preferred_customers_by_country.sort_values(ascending=False)

Country
United Kingdom    52
France            20
Name: CustomerID, dtype: int64

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [119]:
vip_and_preferred_customers = preferred_customers_by_country + vip_customers_by_country
vip_and_preferred_customers.sort_values(ascending=False)

Country
United Kingdom    78
France            30
Name: CustomerID, dtype: int64